# ------------------------------
# Logs
# ------------------------------
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# ------------------------------
# OS and Editor Specific Files
# ------------------------------
.DS_Store
Thumbs.db
.vscode/
.idea/

# ------------------------------
# Node Dependencies
# ------------------------------
Client/node_modules/
Server/node_modules/

# ------------------------------
# Build Outputs
# ------------------------------
Client/dist/
Client/.vite/
Client/.temp/
Client/.cache/
Server/build/
Server/dist/

# ------------------------------
# Environment and Secrets
# ------------------------------
.env
.env.*                 # .env.development, .env.production, etc.
Client/.env
Server/.env
firebase.js
firebase-adminsdk.json

# ------------------------------
# Misc
# ------------------------------
*.local
*.env.local
coverage/
